GEMINI_API_KEY=AIzaSyAv0aOc0vMwVUK3IdobPDI2HQYQwyXTWl0
SEMANTIC_SCHOLAR_API_KEY=dm909xa7i66Hx86H919Jb8sxGhlCviakar3oLnby
GROBID_URL=http://localhost:8070
DATABASE_URL=sqlite+aiosqlite:///./reviews.db
OUTPUTS_DIR=outputs
UPLOADS_DIR=uploads
MAX_PDF_SIZE_MB=50
ENVIRONMENT=development
